body {
	background-image: url(https://www.mdbbqservices.com/sites/default/files/barn%20wood1.jpg);
	background-repeat: repeat-y;
	/*border: 3px solid red;*/
	background-size: 100% 12em;
	/*background-size: contains;*/
	/*height: 100em;*/
}

#outer {
	width: 40%;
	margin: 15px auto 0px;
}

#dice {
	margin-left: 2%;
	width: 10%;
	float: left;
}
#banner {
	box-shadow: 0.2px 0.2px 0.2px 0.2px #C0C0C0;
}

#parameters {
	flex-direction: column;
	width: 50%;
	margin: 50px auto 0px;
	background-color: rgba(224, 224, 224, 0.5);
	padding: 3% 0% 3% 5%;
	border-radius: 10px;
	box-shadow: 0px 0px 5px 10px rgba(32, 32, 32, .75);
	font-family: 'Special Elite', cursive;
}

button {
	font-family: 'Special Elite', cursive;
	padding-top: .4em;
	font-size: 0.75em;
	border-radius: 10px;
	border: 3px outset #99004C;
	background-color: #CC0066;
}

.counter {
	display: inline-block;
	text-align: center;
}

.spacer {
	margin-top: 10px;
}

#results-box p {
	margin-top: 0px;
	text-align: left;
}

#parameters button {
	text-align: center;
}

#dice2 {
	margin-right: 2%;
	width: 10%;
}

#dice2-tag p {
	text-align: right;
}

#results-box {
	margin: 0 auto;
	width: 75%;
	display: flex;
	flex-wrap: wrap;
}
.game-results {
	margin: 2%;
	width: 25%;
	background-color: rgba(224, 224, 224, 0.5);
	box-shadow: 0px 0px 3px 3px rgba(32, 32, 32, .75);
}
	.gamename {
		font-size: 1em;
		vertical-align: middle;
	}

	.gamedetails {
		font-size: 0.5em;
		font-family: 'Special Elite', cursive;
	}

	.popularity {
		visibility: hidden;
	}

	.gameimage {

	}


